input[type=submit] {
    width: 150;
    height: 30;
}

input[type=password] {
    width: 150;
    height: 30;
}

input[type=text] {
    width: 150;
    height: 30;
}
.error{
    width: 300;
}

body {
    font-family: sans-serif;
    font-size: 11pct;
}

table, td, th
{
    border: 1px solid black;
    border-collapse:collapse;
}

table tr:nth-child(even) {
    background-color: #CEECF5;
}

table tr:nth-child(odd) {
    background-color: #FAFAFA;
}

table th
{
    background-color: #BDBDBD;
    color : #FAFAFA;
}